<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Home for integral self-development, dating and global change. Your school for real positive change for you and your enviroment.">
    <meta name="keywords" content="spiritual, dating, charisma, work, effectivness">
    <meta name="author" content="Daniel Johansson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url" content="http://zengamemanifesto.com" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Zen game manifesto" />
    <meta property="og:description" content="Don't just stand there evolve today, become a stronger attractive force of the universe'" />
    <meta property="og:image" content="~/Content/angel.png" />

    <title>Zen game manifesto</title>
    <!-- Google Analytics -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58962813-1', 'auto');
  ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/angel.png " />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="~/Content/angel.png" height="50" width="50" />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Books", "Index", "Books")</li>
                    <li>@Html.ActionLink("Videos", "Index", "Videos")</li>
                    <li>@Html.ActionLink("The Creed", "Index", "Creed")</li>
                    <li>@Html.ActionLink("The Sheets", "Index", "Sheet")</li>
                    <li>@Html.ActionLink("Curriculum", "Index", "Curriculum")</li>
                    <li>@Html.ActionLink("The Educational Hall", "Index", "Hall")</li>
                    <li>@Html.ActionLink("Recomendations", "Index", "Recomendation")</li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
